/* style.css */

li.moveListItem {
    border-radius: 10px;
    background-color: #ebebeb;
    padding: 5px;
    border: 1px solid #ebebeb;
}

li.moveListItem:hover {
    border: 1px solid #000;
    cursor: pointer;
}

li.moveListItem.selected {
    background-color: #75bd75;
}

div#movelist {
    border-right: 2px solid #ebebeb;
}

div#main {
    border-top: 2px solid #ebebeb;
}